body {
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 5vh 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.chatbot {
  width: 500px;
  margin: 0 auto;
  height: 90vh;
  box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  position: relative;
}

/***********************/
/******* FONTS  ********/
/***********************/

strong, .card__subtitle {
  font-weight: 500;
}

/***********************/
/******* HEADER  *******/
/***********************/

.chatbot__header {
  height: 25%;
  background-color: #cccccc; /* Fallback if no image */
  background-image: url("https://unsplash.it/500/200?random"); /* TODO: replace */
  background-size: cover;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.70);
  position: relative;
}

/***********************/
/******** WINDOW *******/
/***********************/

.chatbot__window {
  box-sizing: border-box;
  max-height: 65%;
  overflow: scroll;
  padding: 20px 12px 12px 20px;
}

.query {
  text-align: right;
}

.query, .response {
  margin: 12px;
  font-weight: 100;
}

.bubble {
  display: inline-block;
  padding: 0 12px;
}

.response .bubble {
  background-color: #400080;
  color: #FFFFFF;
  border-radius: 3px 12px 12px;
  text-align: left;
}

.query .bubble {
  background-color: #FFFFFF;
  color: #400080;
  border-radius: 12px 12px 3px 12px;
  border: 1px solid #400080;
}

/*TODO: Might need a more dynamic approach to styling if quick reply options may not always === 3*/
.quick-reply {
  margin: 12px 0;
  width: 100%;
  text-align: justify;
}

.quick-reply::after {
  content: "";
  width: 100%;
  display: inline-block;
}

.quick-reply__button {
  display: inline-block;
  border-radius: 12px;
  border: 1px solid #400080;
  width: 30%;
  text-align: center;
  color: #400080;
  padding: 6px 0;
  cursor: pointer;
  transition: all 0.25s;
}

.quick-reply__button:hover {
  color: #FFFFFF;
  background-color: #400080;
}

.card {
  margin: 0 auto;
  max-width: 400px;
  border: 1px solid #cccccc;
  border-radius: 12px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  padding-top: 53%; /* TODO: Closest approximation to achieve 1:1.9 ratio, only necessary if width is dynamic. Check w/ Doug  */
  background-color: #cccccc; /* Fallback if no image */ /* Fallback if no image */
  background-size: cover;
}

.card__title {
  margin: 6px 12px 0 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__subtitle {
  margin: 0px 12px 6px 12px;
  color: #888888;
  font-size: 12px;
}

.card__button {
  border-top: 1px solid #cccccc;
  cursor: pointer;
  text-align: center;
  color: #400080;
  padding: 6px 0;
  transition: all 0.25s;
}

.card__button:hover {
  color: #FFFFFF;
  background-color: #400080;
}


/***********************/
/******** INPUT ********/
/***********************/

.chatbot__input {
  border-top: 1px solid #d3d3d3;
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #FFFFFF;
}

.input__text {
  font-family: Helvetica, sans-serif;
  padding-left: 12px;
  border: none;
  font-size: 16px;
  width: 100%;
  line-height: 60px;
}

.input__button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
}

.input__mic, .input__send {
  font-size: 36px;
  line-height: 60px;
  cursor: pointer;
}

.input__mic--inactive, .input__send--inactive {
  color: #B7BBC4;
}
.input__mic--active, .input__send--active {
  color: #F76949;
}

.input__send--inactive:active {
  color: #F76949;
}

/***********************/
/******** LOADER *******/
/***********************/

.chatbot__loading {
  text-align: center;
  font-size: 0;
  position: relative;
  top: -15px;
}

.chatbot__loading--visible {
  visibility: visible;
}

.chatbot__loading--hidden {
  visibility: hidden;
}

.loading-left, .loading-middle, .loading-right {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  animation: loader 1.4s infinite ease-in-out both;
  margin: 0 1px;
}

.loading-left {
  animation-delay: 0.1s;
}

.loading-middle {
  animation-delay: 0.2s;
}

.loading-right{
  animation-delay: 0.3s;
}

@keyframes loader {
  0% {
    transform: scale(.2);
    opacity: 1;

  } 50% {
    transform: scale(1.0);
    opacity: 0.5;
  } 100% {
    transform: scale(.2);
    opacity: 0.2;
  }

}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

@media (max-width: 500px) {
  body {
    margin: 0;
  }

  .chatbot {
    width: 100vw;
    height: 100vh;
  }

  .quick-reply__button {
    display: block;
    width: 100%;
    margin-bottom: 6px;
  }

}
